@font-face {
  font-family: 'Open Sans', sans-serif; }
@media screen and (max-width: 768px) {
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left .4s; }

  .side-collapse-container.out {
    left: 200px; }

  .side-collapse {
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    position: fixed;
    overflow: hidden;
    transition: width .4s;
    background-color: black !important; }

  .side-collapse.in {
    width: 0; } }
#navbar {
  background-color: rgba(255, 255, 255, 0); }
  #navbar header {
    padding-top: 8px; }
    #navbar header .navbar-header button span {
      color: white; }
    #navbar header .logo {
      margin-top: 10px; }
    #navbar header nav ul li a {
      color: white;
      font-weight: 500;
      letter-spacing: 0.6px;
      font-family: 'Open Sans'; }
      #navbar header nav ul li a .nav-border {
        margin-top: 5px;
        height: 2px;
        background: #78beff;
        width: 0px;
        transition: .7s; }
    #navbar header nav ul li a:hover {
      background-color: transparent; }
      #navbar header nav ul li a:hover .nav-border {
        width: 100%;
        transition: .7s; }
    #navbar header nav ul li a:focus {
      background-color: transparent; }

#welcome {
  background-image: url("../../images/hero.jpg");
  height: 100%;
  background-position: center center;
  width: 100%;
  object-fit: cover; }
  #welcome .center {
    position: absolute;
    top: 38%;
    left: 27%; }
    #welcome .center h3 {
      font-family: 'Open Sans';
      color: white;
      font-size: 3.0rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px; }
    #welcome .center p {
      font-size: 1.5rem;
      font-family: 'Open Sans';
      color: white; }
    #welcome .center button {
      margin-top: 20px;
      background: transparent;
      color: #333;
      -webkit-box-shadow: 0 0 0 2px #fff;
      box-shadow: 0 0 0 2px #fff;
      color: white;
      font-family: 'Open Sans';
      text-transform: uppercase;
      border-radius: 0px;
      border: 0px solid #fff; }

#about {
  min-height: 300px;
  background-color: white;
  padding: 50px 0px; }
  #about .about {
    padding-right: 60px; }
    #about .about .about_img {
      border-radius: 100%;
      width: 140px;
      height: 140px;
      border: 10px solid #eee;
      padding: 10px; }
    #about .about .about_name {
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 20px;
      font-family: 'Open Sans';
      font-weight: 600; }
    #about .about .about_position {
      color: #3eb991;
      font-size: .9em;
      font-weight: 400;
      color: #162221;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 0.18em;
      font-family: 'Open Sans'; }
  #about .about_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Open Sans'; }
  #about .about_text {
    margin-top: 20px;
    color: #777;
    font-size: 1em;
    font-weight: 400;
    color: #162221;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 0.18em;
    font-family: 'Open Sans';
    padding-right: 20px; }
  #about button {
    margin-top: 20px;
    background: white;
    color: black;
    border-radius: 0px;
    border: 1px solid #3EB991;
    padding: 10px 20px;
    font-size: 16px;
    transition: all .5s ease;
    font-family: 'Open Sans'; }
  #about button:hover {
    background: #3EB991;
    color: white;
    transition: all .5s ease; }

@media screen and (min-width: 300px) and (max-width: 700px) {
  #welcome .center {
    left: 0px !important; } }

/*# sourceMappingURL=style.css.map */
