@font-face {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 768px) {
         .side-collapse-container{
             width:100%;
             position:relative;
             left:0;
             transition:left .4s;
         }
         .side-collapse-container.out{
             left:200px;
         }
         .side-collapse {
             top:50px;
             bottom:0;
             left:0;
             width:200px;
             position:fixed;
             overflow:hidden;
             transition:width .4s;
             background-color: black !important;
         }
         .side-collapse.in {
             width:0;
         }
     }
     .border_bottom{
       width: 70px;
       height: 2px;
       background: black;
       margin: 0 auto;
     }
// navbar sectionun bashlangici
#navbar{
  background-color: rgba(255, 255, 255, 0);
  .navbar_change{
    z-index: 1;

  }

  header{
    padding-top: 8px;
    .navbar-header{
      button{
        span{
          color:white;

        }
      }
    }
    .logo{
      margin-top: 10px;
    }
    nav{
      ul{
        // text-align: right !important;
        li{
          a{
            color:white;
            font-weight: 500;
            letter-spacing: 0.6px;
            font-family: 'Open Sans';
              .nav-border{
                margin-top: 5px;
                height: 2px;
                background: #78beff;
                width: 0px;
                transition: .7s;
              }
          }a:hover{
            background-color: transparent;
              .nav-border{
                width: 100%;
                transition: .7s;
              }
          }a:focus{
            background-color: transparent;
          }
        }
      }
    }
  }
}
// navbar sectiononun sonu

// header sectionun bashlangici
#welcome{
  background-image:url('../../images/hero.jpg') ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  // background-position: center;
  width: 100%;
  object-fit: cover;
  // text-align: center;
    .center{
      position: absolute;
      top:38%;
      width: 100%;
        h3{
          font-family: 'Open Sans';
          color:white;
          font-size: 3.0rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        p{
          font-size: 1.5rem;
          font-family: 'Open Sans';
          color:white;
        }
        button{
          margin-top: 20px;
          background: transparent;
          color: #333;
          -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
          color:white;
          font-family: 'Open Sans';
          text-transform: uppercase;
          border-radius: 0px;
          border: 0px solid #fff;
          transition: .5s;
        }button:hover{
          background: white;
          color:black;
          transition: .5s;
        }
    }
}
// header sectionun sonu

// about sectionun bashlangici
#about{
  min-height: 300px;
  background-color: white;
  padding: 50px 0px;
  width: 100%;
  h6{
    font-family: 'Open Sans';
    font-size: 26px;
    line-height: 24px;
    // text-align: center;
    margin-bottom: 10px;
    // display: inline-block;
  }
    .about{
      margin-top: 40px;
      .about_img{
        border-radius: 100%;
        width: 140px;
        height: 140px;
        border: 10px solid #eee;
        padding: 10px;
      }
      .about_name{
        font-size: 20px;
        line-height: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-family: 'Open Sans';
        font-weight: 600;
      }
      .about_position{
        color: #3eb991;
        font-size: 1.1em;
        font-weight: 400;
        color: #162221;
        line-height: 25px;
        letter-spacing: 1px;
        word-spacing: 0.18em;
        font-family: 'Open Sans';
      }
    }
    .about_title{
      font-size: 25px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'Open Sans';
    }
    .about_text{
      margin-top: 20px;
      color: #777;
      font-size: 1.2em;
      font-weight: 400;
      color: #162221;
      line-height: 25px;
      letter-spacing: 1px;
      word-spacing: 0.18em;
      font-family: 'Open Sans';
      padding-right: 20px;
    }
    button{
      margin-top: 20px;
      background: white;
      color:black;
      border-radius: 0px;
      border: 1px solid #3EB991;
      padding: 10px 20px;
      font-size: 16px;
      transition: all .5s ease;
      font-family: 'Open Sans';
    }button:hover{
      background: black;
      color:white;
      transition: all .5s ease;
    }
}
// about sectionun sonu

//skills sectionun bashlangici
#skills{
  min-height: 300px;
  background: white;
  width: 100%;
    h6{
      font-size: 26px;
      line-height: 24px;
      font-family: 'Open Sans';
      margin-bottom: 10px;
    }
    .skil{
      width: 48%;
      margin-bottom: 10px;
      float: left;
      margin-right: 15px;
        p{
          font-size: 15px;
          font-weight: 400;
          text-transform: uppercase;
          font-family: 'Open Sans';
          margin-bottom: 5px;
        }
        .progress{
          height: 10px;
        }
    }
}
//skilss sectionun sonu


// services sectionin bashlnagici
#services{
  min-height: 300px;
  width: 100%;
  background: #f4f4f4;
  padding-top: 15px;
  h6{
    font-size: 26px;
    line-height: 24px;
    font-family: 'Open Sans';
    margin-bottom: 10px;
    padding-top: 10px;
  }
    .service{
      transition: .5s;
      background: white;
      padding:10px 50px 0 50px;
      border-bottom: 5px solid #666;
      margin-top: 20px;
      margin-bottom: 25px;
        .service_image{
          border-radius: 100%;
          width: 50px;
          height: 50px;
          background-color: #333;
          margin: 10px auto;
          padding: 6px;
          transition: .5s;
            i{
              font-size: 1.4rem;
              color: #fff;
              margin-top: 8px;
              transition: .5s;
            }
        }
        .service_name{
          text-transform: uppercase;
          margin-top: 21px;
          margin-bottom: 8px;
          transition: .5s;
            h5{
              font-weight: 800;
              font-size: 1.1rem;
              font-family: 'Open Sans';
            }
        }
        .service_desc{
          margin-bottom: 16px;
          transition: .5s;
            p{
              font-size: 1rem;
              letter-spacing: 0.5px;
              font-family: 'Open Sans';
            }
        }
    }.service:hover{
      transition: .5s;
      background: #333;
      border-bottom: 5px solid #e1e1e1;
        .service_image{
          transition: .5s;
          background: white;
            i{
              color: #333;
              transition: .5s;
            }
        }
        .service_name,.service_desc{
          color:white;
          transition: .5s;
        }
    }
}
// services sectionun sonu

// hire_me sectionun bashlagici
#hire_me{
  min-height: 250px;
  background-image: url('../../images/hireme-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  text-align: center;
  padding-bottom: 5rem;
  margin-bottom: 0;
  padding-top: 6rem;
  margin-top: 0;
  color: #fff;
    .hear_title{
      padding-bottom: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.0rem;
      font-family: 'Open Sans';
      transform: translateX(-1000px);
      transition: 1s;
    }
    .hear_text{
      margin-top: 50px;
      margin-bottom: .5rem;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      font-size: 21px;
      color: inherit;
      font-family: 'Open Sans';
      transform: translateX(1190px);
      transition: 1s;
    }
    .hear_btn{
      margin-top: 70px;
      width: 100px;
      height: 50px;
      background: transparent;
      border-radius: 0px;
      border: 1px solid white;
      transition: 1s;
      font-family: 'Open Sans';
      transform: translateY(110px);
    }button:hover{
      background: white;
      color:black;
      transition: 1s;
    }
}
// hire_me sectionun sonu

// works scetionun bashlangici
#works{
  min-height: 300px;
  width: 100%;
  background-color: white;
  padding-top: 35px;
  h6{
    font-size: 26px;
    line-height: 24px;
    font-family: 'Open Sans';
    margin-bottom: 10px;
    padding-top: 10px;
  }
  ul{
      li{
        list-style: none;
        float: left;
          a{
            text-decoration: none;
            padding: 0 1.5rem;
            font-size: 1rem;
            border-radius: 15px;
            border: 0;
            color: #999 !important;
            cursor: pointer;

            display: inline-block;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: bold;
          }
      }
  }
  .items{
    margin-top: 20px;
    .item{
      width: 390px;
      height: 300px;
      float: left;
      transition: .5s;
        a{
          text-decoration: none;
            img{
              width: 100%;
              height: 100%;
            }
        }
    }.item:hover{
      opacity: 0.7;
      transition: .5s;
    }
  }
}
// works sectionun sonu
@media screen and (min-width: 300px)and (max-width: 700px){
  #welcome{
    .center{
      left: 0px !important;
    }
  }
  #about{
    padding: 0px;
    h6{
      margin-top: 20px;
    }
    .about{
      padding: 0px;
      margin-bottom: 20px;
    }
  }
  #skills{
    padding: 20px;
      .skil{
        width: 100%;
      }
  }
  #works{
    .items{
      .item{
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}
