@font-face {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 768px) {
         .side-collapse-container{
             width:100%;
             position:relative;
             left:0;
             transition:left .4s;
         }
         .side-collapse-container.out{
             left:200px;
         }
         .side-collapse {
             top:50px;
             bottom:0;
             left:0;
             width:200px;
             position:fixed;
             overflow:hidden;
             transition:width .4s;
         }
         .side-collapse.in {
             width:0;
         }
     }
// navbar sectionun bashlangici
#navbar{
  background-color: rgba(255, 255, 255, 0);

  header{
    padding-top: 8px;
    .logo{
      margin-top: 10px;
    }
    nav{
      ul{
        // text-align: right !important;
        li{
          a{
            color:white;
            font-weight: 500;
            letter-spacing: 0.6px;
            font-family: 'Open Sans';
              .nav-border{
                margin-top: 5px;
                height: 2px;
                background: #78beff;
                width: 0px;
                transition: .7s;
              }
          }a:hover{
            background-color: transparent;
              .nav-border{
                width: 100%;
                transition: .7s;
              }
          }a:focus{
            background-color: transparent;
          }
        }
      }
    }
  }
}
// navbar sectiononun sonu

// header sectionun bashlangici
#welcome{
  background-image:url('../../images/hero.jpg') ;
  height: 900px;
  width: 100%;
  object-fit: cover;
    .center{
      position: absolute;
      top:38%;
      left: 27%;
        h3{
          font-family: 'Open Sans';
          color:white;
          font-size: 3.0rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        p{
          font-size: 1.5rem;
          font-family: 'Open Sans';
          color:white;
        }
        button{
          margin-top: 20px;
          background: transparent;
          color: #333;
          -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
          color:white;
          font-family: 'Open Sans';
          text-transform: uppercase;
          border-radius: 0px;
          border: 0px solid #fff;
        }
    }
}
// header sectionun sonu

@media screen and (min-width: 300px)and (max-width: 700px){
  #welcome{
    .center{
      left: 0px !important;
    }
  }
}
